@media (min-width: 1281px) {
    .logo_yesh {
        width: 150px;
    }
    .yesh_menu_logo {
        text-align: right;
        color: black;
    }
    .speaker_icons {
        justify-content: space-around;
    }
    .itens_agenda {
        text-align: start;
    }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ## .col-md .col-xl
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .logo_yesh {
        width: 150px;
    }
    .yesh_menu_logo {
        text-align: right;
        color: black;
    }
    .speaker_icons {
        justify-content: space-around;
    }
    .itens_agenda {
        text-align: start;
    }
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ## .col-md .col-lg
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .logo_yesh {
        display: none;
    }
    .yesh_menu_logo {
        display: none;
    }
    .speaker_icons {
        justify-content: center;
    }
    .itens_agenda {
        text-align: center;
    }
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  ## .col-md .col-lg
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .logo_yesh {
        display: none;
    }
    .yesh_menu_logo {
        display: none;
    }
    .speaker_icons {
        justify-content: center;
    }
    .itens_agenda {
        text-align: center;
    }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
  ## .col-sm-
*/

@media (min-width: 481px) and (max-width: 767px) {
    .logo_yesh {
        display: none;
    }
    .yesh_menu_logo {
        display: none;
    }
    .speaker_icons {
        justify-content: center;
    }
    .itens_agenda {
        text-align: center;
    }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  ## .col-
*/

@media (min-width: 320px) and (max-width: 480px) {
    .logo_yesh {
        display: none;
    }
    .yesh_menu_logo {
        display: none;
    }
    .speaker_icons {
        justify-content: center;
    }
    .itens_agenda {
        text-align: center;
    }
}