body {
    /* fallback for old browsers */
    background: #9733EE;
    /* Chrome 10-25, Safari 5.1-6
    background: -webkit-linear-gradient(to bottom right, #9733EE, #8F94FB); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    background: linear-gradient(to bottom right, #9733EE, #8F94FB);*/
}

.space_botton {
    margin-bottom: 20px;
}

.center_Itens {
    justify-content: center;
}

.link_social {
    font-size: 20px;
    vertical-align: middle;
}

.gjs-row {
    margin-bottom: 0px;
}


/* nav bar*/

.navbar {
    background-color: white;
}

.btn-outline-primary {
    color: #9733ee;
    border-color: #9733ee;
    min-width: 130px;
}

.yesh_navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.bar1,
.bar2,
.bar3 {
    width: 50px;
    height: 3px;
    background-color: #9733ee;
    margin: 6px 0;
    transition: 0.4s;
}

.logo_yesh {
    width: 150px
}

.btn {
    border-radius: 10px;
    line-height: 1.5em;
}

#menu_registerd {
    display: block;
}

#menu_unregisterd {
    display: none
}


/* nav bar*/


/* menu */

.yesh_menu_iten {
    align-items: center;
}

.yesh_menu_logo {
    text-align: right;
    color: black;
}

.yesh_button_X {
    color: white !important;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9733EE;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    line-height: 1;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* menu */


/*login*/

.gradient-custom-2 {
    /* fallback for old browsers */
    background: transparent;
    /* Chrome 10-25, Safari 5.1-6 
    background: -webkit-linear-gradient(to bottom right, #9733EE, #8F94FB);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    background: linear-gradient(to bottom right, #9733EE, #8F94FB); */
}

.tamanho {
    width: 100%;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

#login {
    background-color: transparent!important;
}


/*login*/